* {
    scrollbar-width: auto;
    scrollbar-color: #dca54c #ffffff;
}

*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #171618;
}

*::-webkit-scrollbar-thumb {
    background-color: #dca54c;
    border-radius: 10px;
}